@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
  /* primary colors */
  --pink: hsl(322, 100%, 66%);
  --lightPink: hsl(321, 100%, 78%);
  --lightRed: hsl(0, 100%, 63%);

  /* ### Neutral */
  --veryDarkCyan: hsl(192, 100%, 9%);
  --veryPaleBlue: hsl(207, 100%, 98%);
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: url(../images/bg-mobile.svg);
  background-color: var(--Violet);
  background-repeat: no-repeat;
  height: 100vh;
}

a {
  text-decoration: none;
}

/* all heading */
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* header seaction with a nav and hero */
header {
  min-height: 100vh;
}

nav {
  padding: 25px 15px;
}

.nav-logo {
  width: 25%;
}

.btn-1 {
  padding: 5px 22px;
  background-color:transparent;
  border: 1px solid var(--pink);
  border-radius: 20px;
  float: right;
  border-radius: 20px;
  font-size: 0.6rem;
  font-weight: 700;
}

.nav a {
  color: var(--pink);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.hero-text {
  text-align: center;
  padding: 1.2rem;
}

.hero-text h1 {
  font-size: 25px;
}

.hero-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  padding: 15px 25px;
}

.hero-text .hero-btn {
  margin: 12px 0;
}

.btn-2 {
  padding: 12px 50px;
  background-color: var(--pink);
  border-radius: 20px;
  font-size: 12px;
  margin: 1rem 0;
  color: white;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.245);
}

.btn-2:hover {
  opacity: 70%;
}

.hero .hero-img {
  width: 80%;
  margin: 50px auto;
}

.stats {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:4rem;
}

.stats h2 {
  font-size: 50px;
  margin: 0;
}

.stats p {
  margin: 0;
}

.stats .stats-communities {
  text-align: left;
}

.stats .stats-messages {
  text-align: left;
}
/* header with nav and hero done */