@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
  /* primary colors */
  --pink: hsl(322, 100%, 66%);
  --lightPink: hsl(321, 100%, 78%);
  --lightRed: hsl(0, 100%, 63%);
  --white : #ffff;
  /* ### Neutral */
  --veryDarkCyan: hsl(192, 100%, 9%);
  --veryPaleBlue: hsl(207, 100%, 98%);
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: url(../images/bg-mobile.svg);
  background-color: var(--Violet);
  background-repeat: no-repeat;
  height: 100vh;
}

a {
  text-decoration: none;
}

/* all heading */
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* header seaction with a nav and hero */
header {
  min-height: 100vh;
}

nav {
  padding: 25px 15px;
}

.nav-logo {
  width: 25%;
}

.btn-1 {
  padding: 5px 22px;
  background-color:transparent;
  border: 1px solid var(--pink);
  border-radius: 20px;
  float: right;
  border-radius: 20px;
  font-size: 0.6rem;
  font-weight: 700;
}

.nav a {
  color: var(--pink);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.hero-text {
  text-align: center;
  padding: 1.2rem;
}

.hero-text h1 {
  font-size: 25px;
}

.hero-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  padding: 15px 25px;
}

.hero-text .hero-btn {
  margin: 12px 0;
}

.btn-2 {
  padding: 12px 50px;
  background-color: var(--pink);
  border-radius: 20px;
  font-size: 12px;
  margin: 1rem 0;
  color: white;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.245);
}

.hero .hero-img {
  width: 80%;
  margin: 50px auto;
}

.stats {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:4rem;
}

.stats h2 {
  font-size: 50px;
  margin: 0;
}

.stats p {
  margin: 0;
}

.stats .stats-communities {
  text-align: left;
}

.stats .stats-messages {
  text-align: left;
}
/* header with nav and hero done */

/* main with section of features */
.main {
  margin: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.all-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.features-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 22px;
}

.card-1 , .card-3{
background-color: var(--veryPaleBlue);
position: relative;
}

.card-1::before{
  content: url(../images/bg-section-top-mobile-1.svg);
  position: absolute;
  top: -110px;
}

.card-1::after{
  content: url(../images/bg-section-bottom-mobile-1.svg);
  position: absolute;
  bottom: -55px;
}

.card-3::before{
  content: url(../images/bg-section-top-mobile-2.svg);
  position: absolute;
  top: -100px;
}

.card-3::after{
  content: url(../images/bg-section-bottom-mobile-2.svg);
  position: absolute;
  bottom: -100px;
}

.features-card .feature-img {
  width: 80%;
  margin: 25px 0;
}

.features-bottom {
  text-align: center;
}

.features-bottom p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  padding: 12px 15px 0;
  color: var(--grayishBlue);
}

/* call to action section */
.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15rem 0  8rem ;
  padding: 1rem;
}

.call-to-action h3 {
  margin-top: 15px;
  font-size: 0.9rem;
  text-align: center;
}

/* main end  */

/* footer section  */
.footer {
  background-color: var(--veryDarkCyan);
  color: var(--white);
  padding: 2rem 1.5rem;
  font-size: 15px; 
}

.footer-right{
  padding: 15px;
}

.form2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: 40px 10px 20px; */
}

.email{
  background-color: var(--white);
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.connect-button{
  margin: 20px 0;
  text-align: right;
}

.btn-3{
  padding: 7px 25px;
  font-size: 12px;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--pink);
  outline: none;
}


.bottom-logo{
  width: 60%;
  filter: invert(100);
  margin: 10px 0;
}

.bottom-grid {
  display: grid;
  grid-template-rows: 100px 50px;
  grid-gap: 1rem;
}

.contact {
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: 50px 50px;
  grid-gap: 0.4rem;
}


.contact-icon {
  margin-top: 15px;
}

.soical-links {
  text-align: left;
}

.soical-links i {
  border-radius: 50%;
  color: #ebfbff;
  border: 1px solid #ebfbff;
  padding: 0.55em 0.7em;
  margin: 0 5px;
}

.fa-facebook-f:before {
  content: '\f39e';
  /* color: #ebfbff; */
}

.fa-twitter:before {
  content: '\f099';
  /* color: #ebfbff; */
}

.fa-instagram:before {
  content: '\f16d';
  /* color: #ebfbff; */
}

.soical-links i:hover {
  color: var(--lightPink);
  border: 1px solid var(--lightPink);
}